.header{
    height: 55 px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left-section{
    padding-top: 10px;
    align-items: center;
}
.hamburger-menu{
    height: 24px; 
    margin-left: 24px;
    margin-right: 24px;
}
.youtube-logo{
    height: 20px;
}
.middle-section{
    
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-icon{
    height: 25px;
    width: 30px;
    color: rgb(235, 226, 226);
    border-width: 1px;
    margin: -1px;
    margin-right: 5px;
    margin-left: 5px;
}
.voice-search-icon{
    height: 25px;
    width: 25px;
   
}
.voice-search-button{
    border-radius: 25px;
    background-color:rgb(236, 228, 228);
    border: none;
    margin-left: 10px;
}

.search-bar{
    flex: 1;
    height: 30px;
    font-size: 15px;
    border-width: 1px;
    border-color: rgb(192 ,192,192);
    border-style: solid;
    box-shadow: inset 1px 2px 3px
     rgba(0, 0, 0, 0.05); 
     width: 0;

}

.search-bar::placeholder{
    font-family: roboto, arial;
    font-size: 20px
}
.right-section{
    
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;


}  

.upload-icon{
    height: 25px;
}


.youtube-apps-icon{
    height: 25px;
}

.notification-icon{
    height: 25px;
}
  
.current-user-picture{
    height: 25px;
    border-radius: 13px;
}